.body {
  background-color: rgb(238, 238, 185);
}

.header {
  display: flex;
  flex-direction: row;
  font-size: medium;
}

.title {
  color: rgb(0, 136, 0);
  font-size: x-large;
  float: left;
  width: 50%;
  margin-left: 20%;
  margin-top: 1%;
}

.info {
  text-align: right;
  float: right;
  width: 50%;
  margin-right: 20%;
}

.phone {
  display: flex;
  flex-direction: row;
}

.content-1 {
  display: flex;
  flex-direction: row;
}

.subtitle-1 {
  float: left;
  width: 50%;
  margin-left: 18%;
}

.info-1 {
  float: right;
  width: 50%;
  margin-right: 6%;
  text-align: right;
}

.content-2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.subtitle-2 {
  float: left;
  width: 50%;
  margin-left: 18%;
}

.info-2 {
  float: right;
  width: 50%;
  margin-right: 10%;
  text-align: right;
}

.content-3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.subtitle-3 {
  float: left;
  width: 50%;
  margin-left: 18%;
}

.info-3 {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  margin-right: 10%;
}

.content-4 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.subtitle-4 {
  float: left;
  width: 50%;
  margin-left: 18%;
}

.info-4 {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  margin-right: 10%;
}

.content-5 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.subtitle-5 {
  float: left;
  width: 50%;
  margin-left: 18%;
}

.info-5 {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  margin-right: 10%;
}

.content-6 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.subtitle-6 {
  float: left;
  width: 50%;
  margin-left: 18%;
}

.info-6 {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  margin-right: 10%;
}
